.quiz-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.quiz-container {
  margin: 1em;
  padding-top: 4em;
  color: white;
  background: #c28829;
  background: -webkit-gradient(linear, left bottom, left top, from(#c28829), to(#fcb134));
  background: linear-gradient(0deg, #c28829 0%, #fcb134 100%);
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
}

.question {
  padding: 1em;
}

.answer {
  font-size: 16px;
  display: inline-block;
  padding: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 1em;
}

.answer .answer-text {
  text-align: center;
  color: black;
}

ul {
  padding-left: 0;
  padding: 2em;
}

.button-quiz {
  margin-top: 2em;
  background: #0765c3;
  background: -webkit-gradient(linear, left bottom, left top, from(#0765c3), to(#004890));
  background: linear-gradient(0deg, #0765c3 0%, #004890 100%);
  min-width: 16em;
  border-radius: 1em;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button-quiz:hover {
  background: #0765c3;
  background: -webkit-gradient(linear, left bottom, left top, from(#0765c3), to(#004890));
  background: linear-gradient(0deg, #0765c3 0%, #004890 100%);
  border: white;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.19);
          transform: scale(1.19);
}

.button-quiz .answer-text {
  color: white;
}

.otherbutton {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.otherbutton:hover {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.19);
          transform: scale(1.19);
}

.emoj {
  margin-top: 1em;
  background: #c28829;
  background: -webkit-gradient(linear, left bottom, left top, from(#c28829), to(#fcb134));
  background: linear-gradient(0deg, #c28829 0%, #fcb134 100%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.emoj:hover {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.19);
          transform: scale(1.19);
}
/*# sourceMappingURL=Quiz.css.map */