

.quiz-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;   
    background: rgb(1, 126, 207);
background: linear-gradient(0deg, rgba(1,126,207,1) 0%, rgba(1,147,207,1) 100%);

    }
 
  .quiz-container{
    margin: 1em;
    padding-top: 2em;
    color: white;
    background: rgb(194,136,41);
    background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
    border-radius: 1em;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  }
  
  .question{
    padding: 2em;
    padding-bottom:0;
  }
  
  .answer{
    font-size: 7px;
    display: inline-block;
    padding: 0.5em;
    align-items: center;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
      .answer-text{
        text-align: center;
        color: black;
      }
    }
    ul{
      list-style: none;
      padding-left: 0;
      padding: 1.5em;
      padding-top:0;
      padding-bottom: 0;
      li{
        font-size: 10px;
      }
    }
  

  .button-quiz{
    margin-top: 1em;
    background: rgb(7,101,195);
background: linear-gradient(0deg, rgba(7,101,195,1) 0%, rgba(0,72,144,1) 100%);
    min-width: 16em;
    border-radius: 1em;
    transition: transform .6s; /* Animation */
    transform: scale(1);
    &:hover{
      background: rgb(7,101,195);
      background: linear-gradient(0deg, rgba(7,101,195,1) 0%, rgba(0,72,144,1) 100%);
      border: white;
      transition: transform .6s; /* Animation */
      transform: scale(1.19);
    }

  .answer-text{
    color: white;
  }
}

.otherbutton{
    transition: transform .6s; /* Animation */
    transform: scale(1);
    &:hover{
      transition: transform .6s; /* Animation */
      transform: scale(1.19);
  }
}

.emoj{
  margin-top: 1em;
  background: rgb(194,136,41);
  background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
  transition: transform .6s; /* Animation */
  transform: scale(1);
  &:hover{
    transition: transform .6s; /* Animation */
    transform: scale(1.19);
}
}

.rating-container{
  margin:1em;
  .rating-button{
    padding: 0.5em;
    margin: 1em;
  }
  .rating-down{
    transform: rotate(180deg);
  }
}