.table-container {
    padding-left: 0;
  }

  
  .playbutton{
    height: 1em;
    background-color: #95A5A6;
  }
  
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    small {
      font-size: 0.5em;
    }
  }
  
  .AllHangman-responsive-table {
      padding-left: 0;
    li {
      border-radius: 3px;
      padding: 20px 20px;
      display: flex;
      justify-content: space-between;
    }
    .table-header {
      background: rgb(194,136,41);
      background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 30%;
    }
    .col-2 {
      flex-basis: 10%;
    }
    .col-3 {
      flex-basis: 30%;
    }
    .col-4 {
      flex-basis: 5%;
    }
    
    @media all and (max-width: 400px) {
      .table-header {
        font-size: 10px;
      }
    }
  }