
// this doesnt work
.page{
    color: white;
    padding-bottom: 20em;
    
    h1{
        padding-bottom: 2em;
    }



}

    .accordian-container{
        margin-left: 1em;
        margin-right: 1em;
        color: black;
        .container{
            width: 5em;
        }
    }

  

@media only screen and (min-width: 810px) {

    .accordian-container{
        margin-left: 7em;
        margin-right: 7em;
        
    }
    

}


@media only screen and (min-width: 1200px) {

    .accordian-container{
        margin-left: 13em;
        margin-right: 13em;
    }


}

@media only screen and (min-width: 1800px) {

    .accordian-container{
        margin-left: 22em;
        margin-right: 22em;
    }


}

