.all-match-container {
  padding-top: 2em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  background: #017ecf;
  background: -webkit-gradient(linear, left bottom, left top, from(#017ecf), to(#0193cf));
  background: linear-gradient(0deg, #017ecf 0%, #0193cf 100%);
}

.submit-match {
  margin: 1em;
}

.match-main-container {
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5em;
  color: white;
  background: #c28829;
  background: -webkit-gradient(linear, left bottom, left top, from(#c28829), to(#fcb134));
  background: linear-gradient(0deg, #c28829 0%, #fcb134 100%);
  border-radius: 1em;
  -webkit-box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.match-main-container h1 {
  padding-top: 0;
}

.match-main-container ul {
  padding-top: 0;
}

.match-main-container .titles-list {
  padding-left: 0.4em;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.match-main-container .explainations-list {
  padding-left: 0;
  padding-right: 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.all-match-element {
  -ms-flex-item-align: middle;
      align-self: middle;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0765c3;
  background: -webkit-gradient(linear, left bottom, left top, from(#0765c3), to(#004890));
  background: linear-gradient(0deg, #0765c3 0%, #004890 100%);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 1em;
}

.all-match-element p {
  text-align: center;
  margin-bottom: 0;
}

.emoj {
  margin-top: 1em;
  background: #c28829;
  background: -webkit-gradient(linear, left bottom, left top, from(#c28829), to(#fcb134));
  background: linear-gradient(0deg, #c28829 0%, #fcb134 100%);
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1);
          transform: scale(1);
}

.emoj:hover {
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.19);
          transform: scale(1.19);
}

.rating-container {
  margin: 1em;
}

.rating-container .rating-button {
  padding: 0.5em;
  margin: 1em;
}

.rating-container .rating-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.title-container {
  max-width: 160px;
}

.explainations-container {
  max-width: 160px;
}

.all-match-element {
  min-height: 80px;
  max-width: 120px;
}

@media all and (min-width: 500px) {
  .match-main-container {
    min-width: 470px;
  }
  .title-container {
    max-width: 260px;
  }
  .explainations-container {
    max-width: 260px;
  }
  .all-match-element {
    min-height: 80px;
    max-width: 200px;
  }
  .submit-match {
    margin: 3em;
  }
}
/*# sourceMappingURL=Match.css.map */