.hangman-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;   
    background: rgb(1, 126, 207);
background: linear-gradient(0deg, rgba(1,126,207,1) 0%, rgba(1,147,207,1) 100%);
    .hangman-main-content{
        box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
        width: 70%;
        background: rgb(8,103,198);
        background: linear-gradient(0deg, rgba(8,103,198,1) 0%, rgba(7,101,195,1) 100%);
        border-radius: 2em;
        padding-bottom: 1em;
    }

    h1{
        margin: 0.5em;
        padding-top: 0;
        overflow-wrap: break-word;
        hyphens: manual;
    }
    p{
        margin:0;
    }
    h2{
        margin:0;
    }

    



    .hint{
         min-height: 70px;
         
        p{
            display:none;
            text-align: center;
            padding:0.5em
        }
    }

    .buttons{
        margin: 0.8em;
        .letterbutton{
            margin: .45em;
        }
    }

}

.emoj{
    margin-top: 1em;
    background: rgb(194,136,41);
    background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
    transition: transform .6s; /* Animation */
    transform: scale(1);
    &:hover{
      transition: transform .6s; /* Animation */
      transform: scale(1.19);
  }
  }

  .rating-container{
    margin:1em;
    .rating-button{
      padding: 0.5em;
      margin: 1em;
    }
    .rating-down{
      transform: rotate(180deg);
    }
  }

  @media only screen and (max-width: 400px) {
    .hangman-container{
        .buttons{
            margin: 0.2em;
            .letterbutton{
                margin: .45em;
            }
        }
    }
}

  
  @media only screen and (min-width: 700px) {
    .hangman-main-content{
        max-width: 490px;
    }

        
}