// .stuff{

// }

.signup-modal-footer{
    margin: 1rem;
    .sign-up-buttons{
        display: flex;
        margin-right: 2em;
    }
    
}

.signup-all{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}