:root{
    min-width: 410;
    --PrimaryColour: #47b883; /* this is how properties are declared */
    --SecondaryColour: #378f66;
    --GrayPrimary: rgb(129, 125, 125);
    --GraySecondary: rgb(77, 75, 75);
    scroll-behavior: smooth;
}

.home{
    background: rgb(12,8,28);
    background: linear-gradient(0deg, rgba(12,8,28,1) 30%, rgba(110,60,188,1) 39%, rgba(114,103,203,1) 90%);
    // overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
    section{
       padding: 15em 0em 15em 0em;
    }

    .heading{
        text-transform: capitalize;
        padding: 0em 4em 1em 4em;

    }

    .description{
        display: inline-block;
        width: 70%;
        font-size: 1.2em;
    }

    .hero-transition{
        display: block;
    }

    .hero-section{
        padding-top: 8em;
        align-items: center;

        .img{
            height: 270px;
            width: 270px;
            border-radius: 4em;  
            background-color: #9488a8;          
            transition: transform .6s; /* Animation */
            transform: scale(1);
        }
        .img:hover{
            transition: transform .6s; /* Animation */
            transform: scale(1.15);
            border: 5px DOUBLE white;   
        }
        .heading{
            h1{
                padding-top: 1.5em;
            }
        }

        .btn{
            margin: 1em;
            border-color: white;
            transition: transform .6s; /* Animation */
            transform: scale(1.2);
            &:hover{
                font-weight: bold; //so when highlighting text changes to bold
                transition: transform .6s; /* Animation */
                transform: scale(1.5);
                border-color: white;
            }
        }
        .btn-dark{
            margin-top: 1em;
            width: 5em;
            margin-right: 3em;
        }
        .btn-primary{
            margin-top: 1em;
            background-color: rgb(230, 80, 80);
            width: 5em;
        }
    }

    .features-section{
        padding-top: 8em;
        padding-bottom: 8em;
        .description{
            padding-top: 0;
        }

        .list{
            margin: auto;
            display: inline-block;
            padding-top: 1em;
            padding-left: 8%;
            li{
                width: 85%;
                border-radius: 2em;
                padding: 1em;
                background-color: #9488a8;
                list-style-type: none;
                margin-bottom: 0.7em;

                h2{
                    font-size: 1.3em;
                }
                p{
                    font-size: .8em;
                }

                transition: transform .6s; /* Animation off */
                transform: scale(1); // DECREASE SCALE

                &:hover{
                    transition: transform .6s; /* Animation */
                    transform: scale(1.19);
                }
            }

        }
    }

    .contact-Section{
        // background-color: #0c081c;
        width: 100%;
        padding-top: 8em;
        padding-bottom: 8em;
        color: rgb(204, 196, 196);
        margin: auto;
        text-align: start;
    
        h2{
            font-size: 2em;
            text-align: center;
        }
    
        label{
            display: block;
            font-size: 1.2em;
            margin-bottom:  .5em;
        }
    
        input,textarea{ // <<can apply to multiple things
            background-color: white;
            color: whitesmoke;
            width: 100%;
            padding: .8em;
            margin-bottom: 1em;
            border-radius: 1em;
            border: 5px solid gray;
            border-style:outset;
            box-sizing: border-box;
        } 
    
        input[type="submit"] { // can also select things like this
            color: black;
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 5em;
            display: block;
            padding: .8em 2em;
            width: unset;
            cursor: pointer;
            margin: auto;
            
            border-radius: 1em;
            border: 5px outset gray;
    
            transition: transform .6s; /* Animation off */
            transform: scale(1); // DECREASE SCALE
            &:hover{    
            transition: transform .6s; /* Animation off */
            transform: scale(1.1); // DECREASE SCALE
            }
        }
    }
    


}