:root{
    min-width: 375px;
    --PrimaryColour: #47b883; /* this is how properties are declared */
    --SecondaryColour: #378f66;
    --GrayPrimary: rgb(129, 125, 125);
    --GraySecondary: rgb(77, 75, 75);
    scroll-behavior: smooth;
    
}

.mixedimg{
    display: none;
}

.home{
    color: white;
    // overflow: hidden;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
    section{
       padding: 5em 0em 5em 0em;
    }

    .heading{
        text-transform: capitalize;
        padding: 0em 4em 1em 4em;

    }

    .description{
        display: inline-block;
        width: 70%;
        font-size: 1.2em;
    }

    .hero-transition{
        display: block;
    }

    .hero-section{
        padding-top: 8em;
        align-items: center;

        .img{
            height: 270px;
            width: 270px;
            border-radius: 4em;  
            // background-color: #9488a8;          
            background: rgb(194,136,41);
background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
            transition: transform .6s; /* Animation */
            transform: scale(1);
        }
        .img:hover{
            transition: transform .6s; /* Animation */
            transform: scale(1.2);
            border: 5px DOUBLE white;   
        }
        .heading{
            h1{
                padding-top:1.6em;
            }
        }
        .btn-dark{
            width: 5em;
            color: white;
            &:hover{
                border-color: white;
            }

        }
        .btn-red{
            background-color: rgb(230, 80, 80);
            width: 5em;
            color: white;
        }
    }

    .features-section{
        padding-top: 8em;
        .description{
            padding-top: 0;
        }

        .list{
            margin: auto;
            display: inline-block;
            padding-top: 1em;
            padding-left: 8%;
            li{
                color:white;
                width: 85%;
                border-radius: 2em;
                padding: 1em;
                background: rgb(194,136,41);
                background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
                list-style-type: none;
                margin-bottom: 0.7em;

                h2{
                    font-size: 1.3em;
                }
                p{
                    font-size: .8em;
                }
                .features-image{
                    width: 100px;
                }

                transition: transform .6s; /* Animation off */
                transform: scale(1); // DECREASE SCALE

                &:hover{
                    transition: transform .6s; /* Animation */
                    transform: scale(1.19);
                }
            }

        }
    }

    .contact-Section{
        // background-color: #0c081c;
        width: 100%;
        padding-top: 2em;
        margin: auto;
        text-align: start;
        margin-bottom: 5em;
    
        h2{
            font-size: 2em;
            text-align: center;
        }
    
        label{
            display: block;
            font-size: 1.2em;
            margin-bottom:  .5em;
        }
    
        input,textarea{ // <<can apply to multiple things
            background-color: white;
            color: black;
            width: 100%;
            padding: .8em;
            margin-bottom: 1em;
            border-radius: 1em;
            border: 5px outset rgb(175, 175, 175);
            border-style:outset;
            box-sizing: border-box;
        } 
    
        input[type="submit"] { // can also select things like this
            color: black;
            font-weight: bold;
            font-size: 1.1em;
            margin-bottom: 5em;
            display: block;
            padding: .8em 2em;
            
            width: unset;
            cursor: pointer;
            margin: auto;
            
            border-radius: 1em;
            border: 5px outset rgb(175, 175, 175);
    
            transition: transform .6s; /* Animation off */
            transform: scale(1); // DECREASE SCALE
            &:hover{    
            transition: transform .6s; /* Animation off */
            transform: scale(1.1); // DECREASE SCALE
            }
        }

        .contact-details{
            text-align: center;
            border-radius: 4em;
            width: 50%;
            margin: auto;
            margin-top: 5em;
            
            // width: 70%;
            padding: 1em;
            background: rgb(194,136,41);
                background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
            color: white;
            h2{
                font-size: 1.6em;
            }
            p{
                font-size: 0.9em;
            }
        
            transition: transform .6s; /* Animation off */
            transform: scale(1); // DECREASE SCALE
        
            &:hover{
                transition: transform .6s; /* Animation */
                transform: scale(1.19);
            }
        }
    }
}

// .Contact-Right{
//     margin-top: 2.5em;
//     text-align: center;
// }