.navbar{
    background: rgb(7, 102, 197);
    background: linear-gradient(0deg, rgba(7,101,195,1) 0%, rgba(0,72,144,1) 100%);
    padding:0;
}

.bolton-img{
    margin-left: 0;
    max-width: 150px;
}

.edowl-title{
    font-size: 2.5em;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-style: bold;
    &:hover{
        color: black;
    }
}
.Main-element{
    text-decoration: none;
    color: #ffff;
    padding-top: 0.5em;
    cursor: pointer;
    padding-left: 1em;
    &:hover{
        color: black;
    }
    }

.Secondary-element{

    text-decoration: none;
    padding-top: 0.5em;
    text-align: center; // this doesnt work
}

.drop-element{
    color: black;
    &:hover{
        color: black;
    }
}

.announcement{
    ul{
        list-style: none;
        margin-bottom: 0;
        li{
            font-size: 0.8em;
            padding-top: 0.5em;
        }
    }
}
.nav-note-complete{

    .nav-note-form{

        .nav-note-submit{
            margin: 0.3em;
            margin-right: 1em;
            color: black;
            &:hover{
                background: rgb(206, 144, 44);
            }
        }
        
        .nav-note-input{
            height: 2.9em;
            align-items: center;
            justify-content: center;
            display: flex;
        }
        display: flex;
        justify-content: center;
        padding-top: 0.4em;
        padding-left: .8em;
    }
    
    .nav-note-list{
        .note-elemenet{
            padding: 0;
            .nav-note-delete{
                margin: 0;
                &:hover{
                    transform: scale(1.2);
                    margin: 0;
                    background: rgb(194,136,41);
                }
            }
        }
    }
}

.announcement-container{    
    .announcement-list{
        padding: 0.3em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.Secondary-Main-element{
    color: black;
}

.wave {
    position: absolute;
    top: 20;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-bottom: 2em;

    svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 6%;
        max-height: 5em;
    }

    .shape-fill {
        fill: #0765c3;
    }
}

@media only screen and (max-width: 390px) {
    .boltonMoodle{
        max-width: 0px;
    }
}

@media only screen and (min-width: 390px) {
    .boltonMoodle{
        max-width: 120px;
    }
}


@media only screen and (min-width: 500px) {
    .mixedimg{
        }
    .wave{
        .svg{
            height: 10%;
        }
    }
    .boltonMoodle{
        max-width: 150px;
    }
}

@media only screen and (min-width: 1080px) {
    .wave{
        .svg{
            height: 18%;
        }
    }

    .mixedimg{
        margin-right: 1em;
        width: 150px;
    }
}


@media only screen and (min-width: 2000px) {
    .wave{
        .svg{
            height: 18%;
        }
    }

    .mixedimg{
        margin-right: 1em;
        width: 150px;
    }
}

